/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 30px;
    margin-right: 10px;
}

.navbar .logo span {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.nav-links li a:hover {
    color: #6a65d8;
}

.login-buttons {
    display: flex;
    gap: 10px;
    width: 200px;
}

.sign-up,
.log-in {
    border: 1px solid #6a65d8;
    background-color: white;
    color: #6a65d8;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.sign-up:hover,
.log-in:hover {
    background-color: #6a65d8;
    color: white;
}